In [1]:
import os 
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
os.chdir(r'D:\AI4EO challenge\train_data\train_data')
hsi_path = 'train_data/1570.npz'
gt_path = 'train_gt.csv'
wavelength_path = 'wavelengths.csv'

In [3]:
gt_df = pd.read_csv(gt_path)
wavelength_df = pd.read_csv(wavelength_path)

In [4]:
gt_df

      sample_index     P      K     Mg   pH
0                0  45.1  188.0  179.0  7.2
1                1  44.8  205.0  188.0  7.0
2                2  44.4  207.0  145.0  6.8
3                3  46.5  204.0  143.0  6.8
4                4  52.0  212.0  167.0  6.7
...            ...   ...    ...    ...  ...
1727          1727  40.8  133.0  132.0  6.2
1728          1728  42.7  192.0  126.0  6.5
1729          1729  39.4  180.0  122.0  6.5
1730          1730  37.3  162.0  127.0  6.5
1731          1731  29.5  146.0  133.0  6.3

[1732 rows x 5 columns]

In [5]:
wavelength_df

     band_no  wavelength
0          1      462.08
1          2      465.27
2          3      468.47
3          4      471.67
4          5      474.86
..       ...         ...
145      146      925.58
146      147      928.78
147      148      931.98
148      149      935.17
149      150      938.37

[150 rows x 2 columns]

In [6]:
os.chdir(r'D:\AI4EO challenge\train_data\train_data\npy data')

In [7]:
import numpy as np
X_train = np.load('X_train.npy')
y_train = np.load('y_train.npy')
X_train.shape

(1732, 150)

In [8]:
band = list(wavelength_df.T.columns)
bands= []
for i in band:
    bands.append('Band_'+str(i+1))
    
bands

['Band_1',
 'Band_2',
 'Band_3',
 'Band_4',
 'Band_5',
 'Band_6',
 'Band_7',
 'Band_8',
 'Band_9',
 'Band_10',
 'Band_11',
 'Band_12',
 'Band_13',
 'Band_14',
 'Band_15',
 'Band_16',
 'Band_17',
 'Band_18',
 'Band_19',
 'Band_20',
 'Band_21',
 'Band_22',
 'Band_23',
 'Band_24',
 'Band_25',
 'Band_26',
 'Band_27',
 'Band_28',
 'Band_29',
 'Band_30',
 'Band_31',
 'Band_32',
 'Band_33',
 'Band_34',
 'Band_35',
 'Band_36',
 'Band_37',
 'Band_38',
 'Band_39',
 'Band_40',
 'Band_41',
 'Band_42',
 'Band_43',
 'Band_44',
 'Band_45',
 'Band_46',
 'Band_47',
 'Band_48',
 'Band_49',
 'Band_50',
 'Band_51',
 'Band_52',
 'Band_53',
 'Band_54',
 'Band_55',
 'Band_56',
 'Band_57',
 'Band_58',
 'Band_59',
 'Band_60',
 'Band_61',
 'Band_62',
 'Band_63',
 'Band_64',
 'Band_65',
 'Band_66',
 'Band_67',
 'Band_68',
 'Band_69',
 'Band_70',
 'Band_71',
 'Band_72',
 'Band_73',
 'Band_74',
 'Band_75',
 'Band_76',
 'Band_77',
 'Band_78',
 'Band_79',
 'Band_80',
 'Band_81',
 'Band_82',
 'Band_83',
 'Band_84',
 'Band_85',
 'Band_86',
 'Band_87',
 'Band_88',
 'Band_89',
 'Band_90',
 'Band_91',
 'Band_92',
 'Band_93',
 'Band_94',
 'Band_95',
 'Band_96',
 'Band_97',
 'Band_98',
 'Band_99',
 'Band_100',
 'Band_101',
 'Band_102',
 'Band_103',
 'Band_104',
 'Band_105',
 'Band_106',
 'Band_107',
 'Band_108',
 'Band_109',
 'Band_110',
 'Band_111',
 'Band_112',
 'Band_113',
 'Band_114',
 'Band_115',
 'Band_116',
 'Band_117',
 'Band_118',
 'Band_119',
 'Band_120',
 'Band_121',
 'Band_122',
 'Band_123',
 'Band_124',
 'Band_125',
 'Band_126',
 'Band_127',
 'Band_128',
 'Band_129',
 'Band_130',
 'Band_131',
 'Band_132',
 'Band_133',
 'Band_134',
 'Band_135',
 'Band_136',
 'Band_137',
 'Band_138',
 'Band_139',
 'Band_140',
 'Band_141',
 'Band_142',
 'Band_143',
 'Band_144',
 'Band_145',
 'Band_146',
 'Band_147',
 'Band_148',
 'Band_149',
 'Band_150']

In [9]:
X_train = pd.DataFrame(X_train,columns=bands)
print(X_train.head())
print(X_train.shape)

       Band_1      Band_2      Band_3      Band_4      Band_5      Band_6  \
0  450.139241  450.822785  446.810127  454.455696  466.075949  487.316456
1  553.833333  552.025641  545.397436  553.897436  563.628205  586.025641
2  422.551282  419.525641  414.871795  423.500000  433.717949  453.358974
3  609.870130  610.558442  604.584416  615.090909  628.675325  655.025974
4  403.910256  401.974359  396.294872  403.756410  412.397436  432.051282

       Band_7      Band_8      Band_9     Band_10  ...     Band_141  \
0  499.620253  501.696203  505.164557  509.797468  ...  1508.405063
1  597.179487  595.923077  595.589744  597.166667  ...  2670.948718
2  463.910256  464.666667  466.307692  468.064103  ...  1170.512821
3  670.623377  674.740260  681.519481  689.272727  ...  1766.987013
4  443.653846  445.423077  448.487179  452.487179  ...  1448.256410

      Band_142     Band_143     Band_144     Band_145     Band_146  \
0  1512.240506  1515.949367  1520.012658  1524.164557  1528.734177
1  2673.051282  2674.025641  2675.230769  2676.705128  2678.384615
2  1173.025641  1174.358974  1175.756410  1177.307692  1179.051282
3  1771.558442  1774.935065  1778.610390  1782.519481  1786.649351
4  1449.974359  1451.166667  1452.384615  1453.679487  1455.282051

      Band_147     Band_148     Band_149     Band_150
0  1533.493671  1538.012658  1542.354430  1546.924051
1  2680.243590  2681.769231  2682.833333  2684.025641
2  1181.166667  1183.089744  1184.692308  1186.500000
3  1791.272727  1795.467532  1799.766234  1804.090909
4  1457.320513  1458.935897  1460.410256  1462.153846

[5 rows x 150 columns]
(1732, 150)

In [10]:
X_train.to_csv(r'D:\AI4EO challenge\train_data\train_data\X_train.csv')

In [12]:
X_train.shape

(1732, 150)