In [2]:
import numpy as np
import pandas as pd
import os
import matplotlib.pyplot as plt
%matplotlib inline
os.chdir(r'D:\AI4EO challenge\train_data\train_data')

In [117]:
X = pd.read_csv('Index - Copy.csv')
X= X.drop(columns=['Unnamed: 0'])
X.head()

,Simple ratio (SR),Salinity index (SI),Salinity index 1 (SI1),Salinity index 2 (SI2),Salinity index 3 (SI3),Salinity index 4 (SI4),Intensity index 1 (Int1),Intensity index 2 (Int2),Ratio vegetation index (RVI),Normalized difference salinity index (NDSI),Normalized difference vegetation index (NDVI)
0,-0.707529,550.605802,388.873841,557.048339,905.475255,556.714167,391.272409,748.327997,0.197363,-0.670337,0.086036
1,-0.695394,563.366210,389.004651,571.854658,925.140774,557.334359,391.558049,766.404685,0.199259,-0.667697,0.086211
2,-0.695207,567.961256,399.186740,574.003247,934.163576,572.128924,401.880459,779.034573,0.204348,-0.660650,0.091657
3,-0.688823,577.992751,399.636377,578.926008,945.381869,573.083809,402.443636,780.279379,0.209834,-0.653119,0.093624
4,-0.688427,580.593554,400.966077,582.492520,948.722550,573.442627,403.231954,788.246960,0.209962,-0.652945,0.094753

In [118]:
# type(list(X.columns))

In [119]:
# X = X.sort_values(by=['Simple ratio (SR)'],ascending=True)
# X

In [122]:
y = pd.read_csv('train_gt - Copy.csv')
y = y.drop(columns=['sample_index'])
# y = y.sort_values(by=['pH'],ascending=True)
y

          P      K     Mg    pH
0      20.3   21.1   26.8  5.60
1      22.9  109.0   54.6  5.73
2      23.1  113.0   56.8  5.80
3      23.4  113.0   57.1  5.90
4      23.6  116.0   61.1  5.90
...     ...    ...    ...   ...
1727  241.0  525.0  310.0  7.50
1728  245.0  536.0  328.0  7.50
1729  251.0  549.0  336.0  7.70
1730  254.0  562.0  357.0  7.70
1731  325.0  625.0  400.0  7.80

[1732 rows x 4 columns]

# Partial Least Square Regression model is used

In [123]:
from sklearn.preprocessing import scale 
from sklearn import model_selection
from sklearn.model_selection import RepeatedKFold
from sklearn.model_selection import train_test_split
# from sklearn.cross_decomposition import PLSRegression
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error

In [124]:
#split the dataset into training (70%) and testing (30%) sets
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.3,random_state=0) 

LR = LinearRegression()
LR.fit(X_train,y_train)


y_prediction = LR.predict(X_test)

In [125]:
y_prediction.shape

(520, 4)

# Metrics on training data

In [126]:
from sklearn.metrics import r2_score
from sklearn.metrics import mean_squared_error

score = r2_score(y_test,y_prediction)
print(f"R Square value is == {score}")
print('mean_sqrd_error is ==',mean_squared_error(y_test,y_prediction))
print('root_mean_squared error of is ==',np.sqrt(mean_squared_error(y_test,y_prediction)))

R Square value is == 0.9905354735953884
mean_sqrd_error is == 5.982546151557558
root_mean_squared error of is == 2.445924396124614

In [133]:
X_test = pd.read_csv('Index.csv')
X_test= X_test.drop(columns=['Unnamed: 0'])
# print(X_test.head())

y_test = pd.read_csv('train_gt.csv')
y_test = y_test.drop(columns=['sample_index'])
# y = y.sort_values(by=['pH'],ascending=True)
# print(y_test.head())

In [134]:
y_test_prediction = LR.predict(X_test)

In [135]:
score = r2_score(y_test,y_test_prediction)
print(f"R Square value is == {score}")
print('mean_sqrd_error is ==',mean_squared_error(y_test,y_test_prediction))
print('root_mean_squared error of is ==',np.sqrt(mean_squared_error(y_test,y_test_prediction)))

R Square value is == -1.6145137408334316
mean_sqrd_error is == 4141.037959430094
root_mean_squared error of is == 64.35089711441553